# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.LeagueOfLegendsAPI.iml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Cristian Benavides\Documents\PROYECTOS UNITY\LeagueOfLegendsAPI\.idea\.idea.LeagueOfLegendsAPI\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
